[Desktop Entry]
Encoding=UTF-8
Name=AeriumX
Comment=AeriumX P2P Cryptocurrency
Comment[fr]=AeriumX, monnaie virtuelle cryptographique pair à pair
Comment[tr]=AeriumX, eşten eşe kriptografik sanal para birimi
Exec=aeriumx-qt %u
Terminal=false
Type=Application
Icon=aeriumx128
MimeType=x-scheme-handler/aeriumx;
Categories=Office;Finance;
